
<div class="container center" style="min-height: 700px; margin-top: 50px; background-color: #FFF">
<img src="<%= asset_path('bancos_suportados.jpg') %>" />
  <h3>Em breve mais bancos...</h3>
</div>

