    <section id="main-slider" class="no-margin">
        <div class="carousel slide">
            <ol class="carousel-indicators">
                <li data-target="#main-slider" data-slide-to="0" class="active"></li>
                <li data-target="#main-slider" data-slide-to="1"></li>
                <li data-target="#main-slider" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active" style="background-image: url(assets/slider/bg.jpg)">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-8">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1">Facilidade...</h1>
                                    <h2 class="animation animated-item-2">Controle total de suas cobranças por boleto</h2>
                                    <a class="btn-slide animation animated-item-3" href="#">Saiba mais</a>
                                </div>
                            </div>
                            <div class="col-sm-4 hidden-xs animation animated-item-4">
                                <div class="slider-img">
                                    <img src="assets/slider/img1.png" class="img-responsive" style="margin-top: 120px; margin-left: 64px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->
                <div class="item" style="background-image: url(assets/slider/bg.jpg)">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-8">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1">Segurança...</h1>
                                    <h2 class="animation animated-item-2">Todas conexão sobre o protocolo protocolo HTTPS</h2>
                                    <a class="btn-slide animation animated-item-3" href="#">Saiba mais</a>
                                </div>
                            </div>
                            <div class="col-sm-4 hidden-xs animation animated-item-4">
                                <div class="slider-img">
                                    <img src="assets/slider/img2.png" class="img-responsive" style="margin-top: 120px; margin-left: 64px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->
                <div class="item" style="background-image: url(assets/slider/bg.jpg)">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-8">
                                s
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1">Multiplos bancos...</h1>
                                    <h2 class="animation animated-item-2">Configure vários bancos</h2>
                                    <a class="btn-slide animation animated-item-3" href="#">Saiba mais</a>
                                </div>
                            </div>
                            <div class="col-sm-4 hidden-xs animation animated-item-4">
                                <div class="slider-img">
                                    <img src="assets/slider/img3.png" class="img-responsive" style="margin-top: 120px; margin-left: 64px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->
            </div><!--/.carousel-inner-->
        </div><!--/.carousel-->
        <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
            <i class="fa fa-chevron-left"></i>
        </a>
        <a class="next hidden-xs" href="#main-slider" data-slide="next">
            <i class="fa fa-chevron-right"></i>
        </a>
    </section><!--/#main-slider-->
    <section id="feature">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>Características</h2>
                <p class="lead">Veja abaixo tudo o que oferecemos</p>
            </div>
            <div class="row">
                <div class="features">
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-bullhorn"></i>
                            <h2>Aceitamos vários bancos</h2>
                            <h3>E em breve mais!</h3>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-comments"></i>
                            <h2>Multiplas configurações</h2>
                            <h3>Você pode configurar várias contas bancárias</h3>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-cloud-download"></i>
                            <h2>API HTTP</h2>
                            <h3>Controle total de seus dados através da API</h3>
                        </div>
                    </div><!--/.col-md-4-->
                </div><!--/.services-->
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#feature-->